.tag{
    color: #39becd;
    background: #e1f5f8;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 20px;
    display: inline-block;
}

.am-card-header-content{
    font-weight: 700;
    font-size: 16px;
}
.date{
    font-size: 14px;
}
.am-card-body{
    width: 100%;
}


.bookImg{
    height: 250px;
    margin: 0 auto;;
    display: flex;
}

.am-card-footer-content{
    display: flex;
    justify-content: center;
}
.ant-divider{
    margin: 8px;
}

.anticon .anticon-plus-circle{
    position: fixed;
    bottom: 20;
}

.addBook{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    background: #56a0ec;
    position: fixed;
    right: 10px;
    bottom: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ant-divider{
    margin: 8px 0;
}

.books{
    padding-bottom: 40px;
}